<main>
    <h1 class="mb-3">Login</h1>
    <form class="login-form"></form>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username Here" id="username-login"/>
        </div>
        <div>
            <label for="password" class="form-lavel">Password</label>
            <input type="text" class="form-control" placeholder="Enter Password Here" id="password-login"/>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
</main>